---
// Minimal nav for CV page with back button
---

<nav class="navbar navbar-dark fixed-top">
  <div class="container">
    <a href="/index.html" class="btn btn-outline-pink bahnschrift">
      <i class="bi bi-arrow-left me-2"></i>.back
    </a>
    <span class="navbar-brand mb-0 ms-auto">.CV</span>
  </div>
</nav>
