---
// Simple footer for CV page
---

<footer class="py-4" style="background-color:#0A192F;">
  <div class="container text-center">
    <p class="small mono" style="opacity: 0.7;">
      © 2025 .smooth-brain-designs | 
      <a href="/index.html" class="link-light">.return-home</a>
    </p>
  </div>
</footer>
