---
// Simple footer for CV page
---

<footer class="py-4">
  <div class="container text-center">
    <p class="small mono" style="opacity: 0.7;">
      © 2026 .smooth-brain-designs
    </p>
  </div>
</footer>
